<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <title>施設紹介</title>
    <link rel="stylesheet" href="information_detail.css" type="text/css">
</head>

<body>
    <div class="header">
        <h1>東京電機大学</h1>
    </header>
    <div class="container">
          <!-- <div class="facility-pic">-->
                    <img class="facility-pic" src="/image/tdu_outline_01.jpg" alt="施設写真">
                <!--</div> -->
            <div class="left-info">
                <h2>リアルタイム</h2>
                <ul class="realtime-info">
                    <li>人数:<%= count %></li>
                    <li>不快指数:<%= co2 %></li>
                </ul>
            </div>
                <div class="top">
                    <h3>住所:東京都足立区千住旭町５</h3>
                    <h3>お問合せ:</h3>
                    <a href="tel:0352845120">03-5284-5120</a>
                </div>
                <div class="middle">
                    <h2>備蓄</h2>
                    <p>2500人分×5日</p>
                    <p>白ご飯、水、液体ミルク、缶詰</p>
                </div>
                <div class="bottom">
                    <h2>設備</h2>
                    <ul class="list-facility">
                        <li>トイレ：10</li>
                        <li>シャワー：5</li>
                        <li>布団:1500</li>
                    </ul>
                    
                </div>
            <div class="right-info">
                <h2>避難所にいるみなさまへ</h2>
                <ul class="information">
                   <li>ボランティアの受付を9:00より開始しております</li>
                    <li>明日(25日)12:00ごろに食料の配布をします</li>
                    <li>市役所にて充電のサービスを行っています(10:00~16:00)</li>
                </ul>
            </div>
        </div>
</body>

</html>
